<script src="node_modules/chart.js/src/chart.js"></script>
<div>
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <input type="text" placeholder="Search for companies" [(ngModel)]="term" (change)="getdata()" />
  <div *ngFor="let item of result |filter:term" (click) = "showChart(item['1. symbol'])">
    <p>
      {{item['2. name']}}
    </p>
  </div>
  </div>
  <div *ngIf = "this.showChartsData">
  <div *ngFor = "let item of items">
    <div>
    <input type="checkbox" [(ngModel)]="item.checked" (change)="updateSelection(item)" />
    {{ item.title }}
  </div>
</div>

  <div style="width: 80%; height: 40%">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  </div>
</div>